<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>One-stop I/O</title>
	<style type="text/css" media="screen">
		#editor {
			position: absolute;
			top: 7.5%;
			right: 0;
			bottom: 40%;
			left: 0;
		}
	</style>
</head>

<body>
	<div id="editor" value=></div>

	<h4 style="position:absolute; top:62%">Standard Input</h4>
	<span>
		<textarea id="stdin" rows="6" cols="50" style="border-radius:10px; position:absolute; top:68%"> 
		</textarea>
	</span>
					
	<button type="button" style="position:absolute; top:79%; left:525px" onclick="showResponse()" class="btn btn-success">Submit</button>

	<button type="button" style="position:absolute; top:85%; left:525px" onclick="emptyEditor()" class="btn btn-info">Reset</button>

	<h5 style="position:absolute; top:68%; left:525px">Choose Language</h5>
	<select class="btn btn-dark" onchange="changeHighlighter(this.value);" style="position:absolute; top:73%; left:525px" id="select" type="button" data-toggle="dropdown">
		<option class="btn btn-light" type="button" value="java">Java</option>
		<option class="btn btn-light" type="button" value="java">Java (Advanced)</option>
		<option class="btn btn-light" type="button" value="c">C</option>
		<option class="btn btn-light" type="button" value="cpp">C++</option>
		<option class="btn btn-light" type="button" value="cpp14">C++14</option>
		<option class="btn btn-light" type="button" value="c99">C99</option>
		<option class="btn btn-light" type="button" value="csharp">C#</option>
		<option class="btn btn-light" type="button" value="php">PHP</option>
		<option class="btn btn-light" type="button" value="perl">Perl</option>
		<option class="btn btn-light" type="button" value="ruby">Ruby</option>
		<option class="btn btn-light" type="button" value="python2">Python2</option>
		<option class="btn btn-light" type="button" value="python3">Python3</option>
		<option class="btn btn-light" type="button" value="sql">SQL</option>
		<option class="btn btn-light" type="button" value="scala">Scala</option>
		<option class="btn btn-light" type="button" value="vbn">VB.Net</option>
		<option class="btn btn-light" type="button" value="pascal">Pascal</option>
		<option class="btn btn-light" type="button" value="haskell">Haskell</option>
		<option class="btn btn-light" type="button" value="kotlin">Kotlin</option>
		<option class="btn btn-light" type="button" value="swift">Swift</option>
		<option class="btn btn-light" type="button" value="objc">Objective-C</option>
		<option class="btn btn-light" type="button" value="groovy">Groovy</option>
		<option class="btn btn-light" type="button" value="fortran">Fortran</option>
		<option class="btn btn-light" type="button" value="brainfuck">Brainf**k</option>
		<option class="btn btn-light" type="button" value="hack">Hack</option>
		<option class="btn btn-light" type="button" value="tcl">TCL</option>
		<option class="btn btn-light" type="button" value="lua">Lua</option>
		<option class="btn btn-light" type="button" value="rust">Rust</option>
		<option class="btn btn-light" type="button" value="fsharp">F#</option>
		<option class="btn btn-light" type="button" value="ada">Ada</option>
		<option class="btn btn-light" type="button" value="d">D</option>
		<option class="btn btn-light" type="button" value="yabasic">YaBasic</option>
		<option class="btn btn-light" type="button" value="freebasic">Free Basic</option>
		<option class="btn btn-light" type="button" value="clojure">Clojure</option>
		<option class="btn btn-light" type="button" value="verilog">Verilog</option>
		<option class="btn btn-light" type="button" value="nodejs">NodeJS</option>
		<option class="btn btn-light" type="button" value="scheme">Scheme</option>
		<option class="btn btn-light" type="button" value="forth">Forth</option>
		<option class="btn btn-light" type="button" value="prolog">Prolog</option>
		<option class="btn btn-light" type="button" value="bash">Bash</option>
		<option class="btn btn-light" type="button" value="cobol">COBOL</option>
		<option class="btn btn-light" type="button" value="octave">OCTAVE/Matlab</option>
		<option class="btn btn-light" type="button" value="icon">Icon</option>
		<option class="btn btn-light" type="button" value="coffeescript">CoffeeScript</option>
		<option class="btn btn-light" type="button" value="assembler">Assembler (GCC)</option>
		<option class="btn btn-light" type="button" value="r">R</option>
		<option class="btn btn-light" type="button" value="assembler">Assembler (NASM)</option>
		<option class="btn btn-light" type="button" value="intercal">Intercal</option>
		<option class="btn btn-light" type="button" value="nemerle">Nemerle</option>
		<option class="btn btn-light" type="button" value="ocaml">Ocaml</option>
		<option class="btn btn-light" type="button" value="unlambda">Unlambda</option>
		<option class="btn btn-light" type="button" value="picolisp">Picolisp</option>
		<option class="btn btn-light" type="button" value="clisp">CLISP</option>
		<option class="btn btn-light" type="button" value="elixir">Elixir</option>
		<option class="btn btn-light" type="button" value="spidermonkey">SpiderMonkey</option>
		<option class="btn btn-light" type="button" value="rhino">Rhino JS</option>
		<option class="btn btn-light" type="button" value="bc">BC</option>
		<option class="btn btn-light" type="button" value="nim">Nim</option>
		<option class="btn btn-light" type="button" value="factor">Factor</option>
		<option class="btn btn-light" type="button" value="falcon">Falcon</option>
		<option class="btn btn-light" type="button" value="fantom">Fantom</option>
		<option class="btn btn-light" type="button" value="pike">Pike</option>
		<option class="btn btn-light" type="button" value="go">Go</option>
		<option class="btn btn-light" type="button" value="mozart">OZ-Mozart</option>
		<option class="btn btn-light" type="button" value="lolcode">LOLCODE</option>
		<option class="btn btn-light" type="button" value="racket">Racket</option>
		<option class="btn btn-light" type="button" value="smalltalk">SmallTalk</option>
		<option class="btn btn-light" type="button" value="whitespace">Whitespace</option>
	</select>

	<span>
		<h4 style="position:absolute; top:62%; left:900px;">Standard Output</h4>
		<div id="outputbox" style="position:absolute; top:68%; left:900px; width:400px; height:200px; border:solid black 1px; overflow-y: scroll; border-radius:10px">
		</div>
	</span>
	</div>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>
	$(document).ready(function() {
		loadEditor();
		googleAuth();
		saveTokenLocally();
	});

	let editor = ace.edit("editor");
	editor.setTheme("ace/theme/textmate");
	editor.session.setMode("ace/mode/python");
	
	function emptyEditor(){
		editor.setValue('');
	}

	function saveTokenLocally(){
		if ("{{token}}"){
			localStorage.setItem("token", "{{token}}");
		}
	}

	function googleAuth(){
		let param = /[&?]code=([^&]+)/.exec(location.search);
		if (param){
			$.ajax({
				type: "get",
				url: "/user/google-profile/?code="+param[1],
			}).done(function(data){
				console.log(data);
			});
		}
	}

	function loadEditor(){
		let param = /[&?]codeid=([^&]+)/.exec(location.search);
		if (param){
			$.ajax({
				type: "get",
				url: "/user/code/?key="+param[1]
			}).done(function(data){
				editor.setValue(data);
			});
		}
		return param;
	}	

	function showResponse(){
		let params=loadEditor();
		let key=null;
		if (params){
			key=params[1];
		}
		const body=editor.getSession().getValue();
		$.ajax({
			type: "post",
			url: "/user/code/compileAndRun",
			data:{
				'language': $('#select').val(),
				'stdin': $('#stdin').val(),
				'body': body,
				'codeid': key
			}
		}).done(function(data){
			document.getElementById('outputbox').innerText=data['output'];
			editor.setValue(body);
		});
	}

	function changeHighlighter(val){
		val = val.replace(/[0-9]/g, '');
		editor.session.setMode("ace/mode/"+val);
	}

</script>

</body>

</html>