<form action="/user/registration" method="POST">
	<div style="text-align: center; width: 500px ">
		<div class="form-group; display: inline-block">
			<label>Full Name</label>
			<input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" name="fullname">
		</div>
		<div class="form-group">
			<label>User Name</label>
			<input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="text" class="form-control" id="password" placeholder="Enter User Password" name="password">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" id="email" placeholder="Enter User Email" name="email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>